.backwardsContainer {
  margin-top: 3rem;
  height: 280px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

}

form{
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.disTextfield {
  flex-basis: 100%;
  resize: none;
  height: 200px;
  width: 100%;
  border: none;
  padding: 0.5rem;
}
.disInput {
  /* flex-basis: 100%; */
  width: 100px;
  height: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  /* opacity: 0.8; */
  /* text-align: center; */
}
