
.guess-number>form{
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
.guess-number>p{
  margin-bottom: 1rem;
}

.guess-number{
padding: 1rem;
background-color: powderblue;
margin-top: 3rem;
display: flex;
flex-direction: column;
align-items: center;

}
.guess-number>h2{
  text-align: center;
  margin-bottom: 2rem;
}
.guess-input{
  width: 280px;
  height: 2rem;
  border-radius: 5px 0 0 5px;
  border: none;
  padding: 0.5rem;
}
.guess-submit{
  background-color: black;
  color: #fff;
  border-radius: 0 5px 5px 0;
  height: 2rem;
  padding: 0.5rem;
  border: none;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.guess-submit:hover{
  background-color: #062f70;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.retry-btn{
  background-color: #056d11;
  color: #fff;
  border-radius: 0 5px 5px 0;
  height: 2rem;
  padding: 0.5rem;
  border: none;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.retry-btn:hover{
  background-color: #00870f;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
