.lockedTextfield{
  width: 50%;
  min-width: 300px;
  height: 20vh;
  border: none;
  padding: 0.5rem;
  resize: none;
}
.checkContainer{
  width: 52%;
  min-width: 300px;
  padding: 0;
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-start;
  /* position: relative;
  top: -20px;
  font-size: 1em;
  background-color: black;
  opacity: 0.75;
  color: white; */
}
.lockedTextContainer{
  margin-top: 3rem;
  /* align-self: center; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative;
  top: 100px; */
}
